<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ye.guo.huang.jwt.mapper.sysFilesMapper" >
  <resultMap id="BaseResultMap" type="ye.guo.huang.jwt.pojo.sysFiles" >
    <id column="file_id" property="fileId" jdbcType="INTEGER" />
    <result column="orin_name" property="orinName" jdbcType="VARCHAR" />
    <result column="phy_name" property="phyName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="last_date" property="lastDate" jdbcType="TIMESTAMP" />
    <result column="crt_date" property="crtDate" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    file_id, orin_name, phy_name, status, last_date, crt_date, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_files
    where file_id = #{fileId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_files
    where file_id = #{fileId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="ye.guo.huang.jwt.pojo.sysFiles" >
    insert into sys_files (file_id, orin_name, phy_name, 
      status, last_date, crt_date, 
      remark)
    values (#{fileId,jdbcType=INTEGER}, #{orinName,jdbcType=VARCHAR}, #{phyName,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{lastDate,jdbcType=TIMESTAMP}, #{crtDate,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ye.guo.huang.jwt.pojo.sysFiles" >
    insert into sys_files
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fileId != null" >
        file_id,
      </if>
      <if test="orinName != null" >
        orin_name,
      </if>
      <if test="phyName != null" >
        phy_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="lastDate != null" >
        last_date,
      </if>
      <if test="crtDate != null" >
        crt_date,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fileId != null" >
        #{fileId,jdbcType=INTEGER},
      </if>
      <if test="orinName != null" >
        #{orinName,jdbcType=VARCHAR},
      </if>
      <if test="phyName != null" >
        #{phyName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="lastDate != null" >
        #{lastDate,jdbcType=TIMESTAMP},
      </if>
      <if test="crtDate != null" >
        #{crtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ye.guo.huang.jwt.pojo.sysFiles" >
    update sys_files
    <set >
      <if test="orinName != null" >
        orin_name = #{orinName,jdbcType=VARCHAR},
      </if>
      <if test="phyName != null" >
        phy_name = #{phyName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="lastDate != null" >
        last_date = #{lastDate,jdbcType=TIMESTAMP},
      </if>
      <if test="crtDate != null" >
        crt_date = #{crtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where file_id = #{fileId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ye.guo.huang.jwt.pojo.sysFiles" >
    update sys_files
    set orin_name = #{orinName,jdbcType=VARCHAR},
      phy_name = #{phyName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      last_date = #{lastDate,jdbcType=TIMESTAMP},
      crt_date = #{crtDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where file_id = #{fileId,jdbcType=INTEGER}
  </update>
</mapper>